// colour scheme
$theme1 : #000;
$theme2 : #000;
$theme3 : #000;


$white : #fff;
$black : #000;

//cool grey
$cgbase :#000;

$cg-lightest : lighten($cgbase,20%);
$cg-lighter : lighten($cgbase,20%);
$cg-light : lighten($cgbase,20%);
$cg : $cgbase;
$cg-dark : darken($cgbase,20%);
$cg-darker : darken($cgbase,20%);
$cg-darkest : darken($cgbase,20%);

//neutral grey
$ngbase :#000;
$ng-lightest : lighten($ngbase,20%);
$ng-lighter : lighten($ngbase,20%);
$ng-light : lighten($ngbase,20%);
$ng : $ngbase;
$ng-dark : darken($ngbase,20%);
$ng-darker : darken($ngbase,20%);
$ng-darkest : darken($ngbase,20%);

//warm grey
$wgbase :#000;
$wg-lightest : lighten($wgbase,20%);
$wg-lighter : lighten($wgbase,20%);
$wg-light : lighten($wgbase,20%);
$wg : $wgbase;
$wg-dark : darken($wgbase,20%);
$wg-darker : darken($wgbase,20%);
$wg-darkest : darken($wgbase,20%);


// will need to collate all variables on this page
